<div class="container">
    <div class="container col-lg-6 col-md-8 mx-auto">
        <div class="card-text">Admin Books</div>
           <button onclick="location.href='/api/books/'" class="btn btn-lg btn-primary btn-default" type="button">See all the books</button>
            <button onclick="location.href='/api/books/update'" class="btn btn-lg btn-primary btn-default" type="button">Update a book</button>
           <button onclick="location.href='/api/books/delete'" class="btn btn-lg btn-primary btn-default" type="button">Delete a book</button>
           <button onclick="location.href='/api/books/add'" class="btn btn-lg btn-primary btn-default" type="button">Add a book</button>

        <div class="card-text">Admin Users</div>
                   <button onclick="location.href='/api/users'" class="btn btn-lg btn-primary btn-default" type="button">See all the Users</button>
                   <button onclick="location.href='/api/users'" class="btn btn-lg btn-primary btn-default" type="button">Update a user</button>
                   <button onclick="location.href='/api/users'" class="btn btn-lg btn-primary btn-default" type="button">Delete a user</button>

    </div>
</div>