<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Login Page</title>
</head>
<body>
<div class="container">
  <h2>Admin Sign In</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email address" name="email">
      <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
    <div class="checkbox">
    </div>
    <button onclick="location.href='/'" class="btn btn-lg btn-primary btn-default" type="button">Log in</button>
  </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>